/* Admin styles */

/* Project list widget */

/* Default and small screens */


/* Style the project list item count change alert message */
.gmuj-widget-project-list-item-count-change-message {
	display: none;
	color: red; 
}

/* Style the project list items box */
.gmuj-widget-project-list-items {
	overflow-y: auto; 
	max-height: 370px; 
	border-top: 2px solid #ccd0d4; 
	border-bottom: 2px solid #ccd0d4; 
	padding: 10px 0;
}

/* Style the project list items headings */
.gmuj-widget-project-list-item-heading {
	font-size:1.2em;
	font-weight:bold;
}