/* Mason custom widgets */

/* Call-to-action menu */

/* 500+ pixels */


/* Style calls-to-action widget menu */
.widget_gmuj_widget_call_to_action_menu ul {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

/* Style calls-to-action widget menu items */
.widget_gmuj_widget_call_to_action_menu ul li {
	flex: 1 1 0px;
	background-position: 125% top;
}


/* Style calls-to-action widget menu item links */
.widget_gmuj_widget_call_to_action_menu ul li a {
	padding: 0.5em 1em;
}