/* Mason custom widgets */

/* Regex nav menu */

/* 800+ pixels */


/* extra visual element on navigation menu top links when active */
.gmuj-sidebar .widget_gmuj_widget_regex_nav_menu ul.menu > li.current_page_item:first-child > a::after {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    border: 3px solid #006940;
    background-color: #006940;
    transform: rotate(45deg) translate(0, -50%);
    padding: 3px;
}
