/* Mason custom widgets */

/* Highlight item */

/* 500+ pixels */


/* Style highlight item image */
.widget_gmuj_widget_highlight_item img.highlight-item-image {
    float: right;
    max-width: 40%;
    margin-left: 1em;
    margin-right: 0;
}