/* Mason custom widgets */

/* Call-to-action menu */

/* Default and small screens */


/* Style calls-to-action widget title */
.widget_gmuj_widget_call_to_action_menu h3.widget-title {

}

/* Style calls-to-action widget sub-title*/
.widget_gmuj_widget_call_to_action_menu p.widget-title-sub {
}

ul.sidebar-homepage:not(#sidebar-homepage-banner) li.widget_gmuj_widget_call_to_action_menu p.widget-title-sub, 
div.entry-content li.widget_gmuj_widget_call_to_action_menu p.widget-title-sub {
	margin-top: -1em;
	margin-bottom:2em;
	text-align:center;
	font-color:#006633 !important;
	font-size:1.3em;
}

/* Style calls-to-action widget menu */
.widget_gmuj_widget_call_to_action_menu ul {
	list-style-type: none;
	margin: 0;
}

/* Style calls-to-action widget menu items */
.widget_gmuj_widget_call_to_action_menu ul li {
	margin: 1em !important;
	background-color: #063;
}

/* Style calls-to-action widget menu item links */
.widget_gmuj_widget_call_to_action_menu ul li a {
	display: block;
	padding: 0.5em;
	word-break: normal;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size:1.25em;
}

/* Style calls-to-action widget menu item link icons */
.widget_gmuj_widget_call_to_action_menu ul li a span.fa {
	font-size:0.8em;
	margin-left: 0.25em;
}
